table{
    width: 100%;
    height: 200px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th{
    background-color: skyblue;
}

tr:nth-child(even){
    background-color: lightsteelblue;
}

tr:nth-child(odd){
    background-color: lightblue;
}