legend{
	font-weight: bold;
}

h1{
	text-align: center;
	font-size: 25px;
}

table{
	width: 100%;
	text-align: center;
	align-self: center;
	margin-right: 50%;
}

input:focus{
	border: 5px solid rgb(202, 255, 8);
}

input[type='radio']:after {
    width: 14px;
    height: 14px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    background-color: #e2e5e2;
    content: '';
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: -1px;
    background-color: #00ff15;
    border: 1px solid rgb(0, 0, 0);
}

button{
	border-radius: 0px;
	height: 2.5em;
	cursor: pointer;
}

input:required{
    background-color: red;
}

input:valid {
    background-color: rgb(200, 223, 226);
}